<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'reserve' %}">reserve</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'seats' %}">seats</a>
          </li>

          <li class="nav-item">
              Welcome, {{user.username}}
          </li>

          {% if not user.is_authenticated %}
          <li>
            <a href={% url 'login' %}>Log in </a>
          </li>
          {% else %}
          <li>
            <form method="POST" action="{% url 'logout' %}"> {% csrf_token %} <input type="submit" value="Log out">  </form>
          </li>
          {% endif %}


        </ul>
      </div>
    </div>
  </nav>